.slider-container {
  padding: 20px;
  position: relative;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider-image {
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sekcija za pretragu i sortiranje */
.filter-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sort-select {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.movies-section {
  margin-top: 40px;
}

.movies-section h2 {
  text-align: center;
  color: #ed1c24;
  margin-bottom: 20px;
}

.movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie-card {
  width: 200px;
  text-align: center;
}

.movie-poster {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card h3 {
  color: #333;
  font-size: 16px;
  margin-top: 10px;
}

.movie-card p {
  color: #777;
}
